@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rouge+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');


#navbar {
  text-align: center;
  padding: 20px 0;
}

.navlink {
  padding: 50px;
  color:  #fff;
  font-family: 'Courgette', cursive;
  font-size: 24px;
  font-weight: bold;
}

.navlink:hover {
  color: #9c6230;
}

#main-section {
  background-image: url(./images/travel-adventure.jpg);
  background-size: cover;
  background-position: center;
  padding: 350px;
  border-bottom: 5px solid #d5a77d93;
}

.intro-title {
  text-align: center;
  padding-left: 40px;
  color: #754a24;
  font-family: 'Rouge Script', cursive;
  font-size: 48px;
  font-weight: bold;
}

.intro-p {
  text-align: center;
  padding-left: 55px;
  color: #754a24;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
  font-weight: bold;
}

.intro-title:hover {
  color: #ffffb3;
}

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center;
}

.about-image {
  border-radius: 60%;
  margin-left: 10px;
}

.section-title {
  font-family: 'Courgette', cursive;
  padding-bottom: 10px;
  padding-left: 10px;
}

.thumbnail {
  border: 2px solid #ddad80;
}

.background {
  background-color: #edd8c4b9;
}

#projects {
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  padding: 30px 20px;

}

#about {
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  padding: 30px 20px;

}

#contact {
  text-align: center;
  padding: 30px 0;
}

.paragraph {
  padding-top: 20px;
  margin-left: 20px;
  font-family: 'Benne', serif;
  font-size: 18px;
}

.socials {
  color: black;
  padding-right: 20px;
}

.social-icons {
  margin-left: 30px;
}

.description {
  text-align: center;
  font-family: 'Benne', serif;
  font-size: 20px;
  font-variant: small-caps;
}

@media all and (min-width: 576px) {
  .navlink {
    padding: 30px;
  }

  #main-section {
    padding: 100px;
  }

  .intro-title {
    font-size: 30px;
  }

  .intro-p {
    font-size: 14px;
  }

  .primary {
    margin-top: 30px;
  }
}

@media all and (min-width: 768px) {
  #main-section {
    padding: 200px;
  }

  .intro-title {
    font-size: 32px;
  }

  .intro-p {
    font-size: 16px;
  }

  .primary {
    margin-top: 20px;
  }
}

@media all and (min-width: 992px) {
  .intro-title {
    font-size: 46px;
  }

  .intro-p {
    font-size: 18px;
  }

  .primary {
    padding: 30px 0;
  }
}











